<%= render 'shared/plates' %>

<div class="green_content">
  <div class="inner_content">
    <%= form_for(@user) do |f| %>
      <%= render 'form', f: f %>

      <%= f.submit "保存" %>
    <% end %>
  </div>
</div>
