<div class="green_content">
  <div class="inner_content">
    スレ一覧<br />

    <% if admin? %>
      <%= render 'shared/bbs_threads_admin' %>
    <% else%>
      <%= render 'shared/bbs_threads_user' %>
    <% end %>
  </div>
</div>
