<div class="green_content">
  <div class="inner_content">
    板一覧<br />

    <% if super_admin? %>
      <%= render 'shared/plates_admin' %>
    <% else%>
      <%= render 'shared/plates_user' %>
    <% end %>
  </div>
</div>
